 html, 
   body {height:98%;
        margin:0px;
        padding:0px;}
    body {
       background: #3f99cd;
    }
    .albumImages{
      display: block;
      margin:auto;
    }
    a:hover{
      text-decoration: none;
    }
    
    .myWrapper{
      height:100%;
    }
    
    .spacer{
      height:40%;
    }
    .panel {
      border: 0.2px solid rgba(136, 136, 136, 0.16);
      margin-bottom: 10px;
    }
    
    /* force scrollbar */
    
    html {
      overflow-y: scroll;
    }
    
    .grid-item {
      width: 200px;
      margin: 5px;
      padding: 4px;
    }
    
    .grid-item:hover {
/*      box-shadow: 2px 4px 4px 2px grey;*/
      opacity:0.7;
    }
    
    .grid-item img {
      display: block;
      width: 100%;
      padding: 2px;
      padding-bottom: 0px;
    }
    
    .margin{
      margin:20px; 
    }
    
    #albumsList{
      display:flex; 
      flex-wrap:wrap; 
      justify-content:center; 
      align-items:flex-start;
    }
     